*, *:before, *:after {box-sizing: border-box;}
h1, h2, h3, h4, h5, h6, p {margin: 0;}
a {color: inherit;text-decoration: none;}
a:hover {text-decoration: underline;}
ul {padding: 0;}
button {padding: 0;margin: 0;cursor: pointer;}

@font-face { 
  font-family: 'Billy Ohio'; 
  src: url('../fonts/BillyOhio.woff2') format('woff2'), 
       url('../fonts/BillyOhio.ttf')  format('truetype'), 
       url('../fonts/BillyOhio.woff') format('woff'); 
  font-weight: normal; 
  font-style: normal; 
}

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    color: #676767;
    background: #ededed;
}

.container {
    width: 100%;
    height: 100%;
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}


/* Header */

.header {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 50px;
}
@media (max-width: 1330px) {
    .header {
        padding: 10px;
    }
}
@media (max-width: 992.98px){
    .header {
        height: 50px;
    }
}

.header__logo {
    max-height: 100%;
    position: relative;
    z-index: 4;
}

.header__logo img {
    display: block;
    max-height: 100%;
    width: auto;
}

.header__content {
    display: flex;
    align-items: center;
}

.nav {
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    display: flex;
}

.nav__link {
    margin-left: 30px;
}

.header__social {
    display: flex;
    align-items: center;
    margin-left: 47px;
}
@media (max-width: 1330px) {
    .header__social {
        margin-left: 0;
    }
}
@media (max-width: 1230px) {
    .header__social {
        display: none;
    }
}

.social__link {
    display: inline-flex;
    height: 46px;
    width: 46px;
    align-items: center;
    justify-content: center;
    border: 3px solid #fff;
    border-radius: 50%;
    margin-left: 23px;
}

.social__link img {
    display: block;
    max-width: 30px;
}

.burger {
    display: none;
    width: 30px;
    height: 20px;
    position: relative;
    z-index: 4;
}
@media (max-width: 992.98px){
    .burger {
        display: block;
    }
}

.burger {
    display: none;
    width: 30px;
    height: 20px;
    position: relative;
    cursor: pointer;
}
@media (max-width: 992.98px){
    .burger {
        display: block;
    }
}

.burger span {
    position: absolute;
    background-color: #fff;
    width: 100%;
    height: 3px;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    transition: all .2s linear;
}

.burger:before {
    content: "";
    background-color: #fff;
    position: absolute;
    width: 100%;
    height: 3px;
    left: 0;
    top: 0;
    transition: all .2s linear;
}

.burger:after {
    content: "";
    background-color: #fff;
    position: absolute;
    width: 100%;
    height: 3px;
    left: 0;
    bottom: 0;
    transition: all .2s linear;
}

.burger.active:before {
    transform: rotate(45deg);
    top: 8px;
}

.burger.active:after {
    transform: rotate(-45deg);
    bottom: 9px;
}

.burger.active span {
    transform: scale(0);
}

@media (max-width: 992.98px){
    body.lock{
        overflow: hidden;
    }
    
    .nav {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #9c0924;
    z-index: 3;
    flex-direction: column;
    justify-content: center;
    font-size: 30px;
    font-weight: 700;
    transform: translateX(-100%);
    transition: all .2s ease;
    overflow: auto;
    }
    .nav.active {
        transform: translateX(0);
        flex-direction: column;
    }
    .nav__link {
        display: block;
        text-align: center;
        margin-left: 0;
        margin-bottom: 10px;
    }
}

.logo-pc {
    display: block;
}

.logo-mob {
    display: none;
}
@media (max-width: 992.98px){
    .logo-pc {
        display: none;
    }

    .logo-mob {
        display: block;
        max-height: 100%;
    }
    
    .logo-mob img {
        display: block;
        height: 30px;
    }
}

/* Intro */

.intro {
    height: 100vh;
    background: url(../images/intro/Header%20Background.jpg) center no-repeat;
    background-size: cover;
}

.intro__inner {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 50px;
}

.intro__title {
    font-family: 'Billy Ohio', sans-serif;
    font-size: calc(45px + 71 * ((100vw - 320px) / (1700 - 320)));
    color: #fff;
    text-align: center;
    line-height: 90%;
    position: relative;
    z-index: 2;
}

.intro__img {
    position: relative;
    z-index: 1;
    padding-bottom: 25%;
}

.intro__img img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
}


/* Package */

.package {
    background: linear-gradient(to bottom, #fff, #ededed);
    margin-bottom: 60px;
}

.package__inner {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 -20px;
}

.package__item {
    flex: 0 1 33.333%;
    padding: 0 20px;
    padding-bottom: 20px;
}
@media (max-width: 1230px) {
    .package__inner {
        margin: 0;
    }
    .package__item {
        flex: 0 1 50%;
    }
}
@media (max-width: 650px) {
    .package__item {
        flex: 0 1 100%;
    }
}

.package__header {
    position: relative;
    margin-bottom: 45px;
}

.package__img {
    position: relative;
    padding-bottom: 96.5%;
}

.package__img img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.package__price {
    height: 180px;
    width: 180px;
    border: 90px solid transparent;
    border-bottom: 90px solid #cd0a2d;
    border-left: 90px solid #cd0a2d;
    position: absolute;
    left: -20px;
    bottom: -20px;
}

.package__price-text {
    position: absolute;
    left: -60px;
    bottom: -60px;
    white-space: nowrap;
    color: #fff;
    font-size: 56px;
    line-height: 50%;
    font-family: 'Bebas Neue', cursive;
}

.package__price-text span {
    font-size: 21px;
}

.package__title {
    font-size: 26px;
    color: #000;
    font-weight: 700;
    margin-bottom: 10px;
}

.package__text {
    margin-bottom: 20px;
}

.package__btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    text-transform: uppercase;
    color: #fff;
    background: #cd0a2d;
    height: 40px;
    width: 112px;
    border-radius: 20px;
}


/* About */

.about {
    display: flex;
    align-items: flex-start;
    position: relative;
}

.about__moto {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

.about__col {
    flex: 0 1 50%;
    padding: 60px 0;
}

.about__col--red {
    background: #cd0a2d;
    margin-top: 70px;
    color: #fff;
}

.about__col--white {
    background: #fff;
    margin-top: 133px;
}

.about__inner--red {
    width: 100%;
    max-width: 600px;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 150px;
}

.about__inner--white {
    width: 100%;
    max-width: 600px;
    margin-right: auto;
    padding-right: 15px;
    padding-left: 200px;
}
@media (max-width: 1100px) {
    .about {
        align-items: stretch;
    }
    .about__moto {
        display: none;
    }
    .about__col--red {
        margin-top: 0;
    }
    .about__col--white {
        margin-top: 0;
    }
    .about__inner--red, .about__inner--white {
        padding: 0 15px;
    }
}
@media (max-width: 900px){
    .about {
        display: block;
    }
    .about__inner--red, .about__inner--white {
        max-width: none;
    }
}

.about__title {
    font-family: 'Bebas Neue', cursive;
    font-size: calc(35px + 33 * ((100vw - 320px) / (1700 - 320)));
    text-transform: uppercase;
    margin-bottom: 35px;
}

.about__item {
    margin-bottom: 40px;
}
.about__item:last-child {
    margin-bottom: 0;
}

.about__subtitle {
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 10px;
}

.about__team {
    display: flex;
    margin-bottom: 30px;
}
.about__team:last-child {
    margin-bottom: 0;
}
@media (max-width: 900px) {
    .about__team {
        justify-content: center;
    }
}

.about__team:nth-child(even) .about__photo {
    order: 2;
    margin-right: 0;
    margin-left: 25px;
}

.about__team:nth-child(even) .about__info {
    order: 1;
}

.about__photo {
    margin-right: 25px;
}

.about__header {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.about__name {
    font-family: 'Bebas Neue', cursive;
    font-size: 47px;
    text-transform: uppercase;
    color: #5e5e5e;
    margin-right: 10px;
    white-space: nowrap;
}

.about__prof {
    font-family: 'Bebas Neue', cursive;
    font-size: 25px;
    color: #979797;
    text-transform: uppercase;
}

.about__text--black {
    color: #040404;
}
@media (max-width: 450px){
    .about__team {
        display: block;
        text-align: center;
    }
    .about__photo {
        margin-right: 0;
        margin-bottom: 15px;
    }
    .about__team:nth-child(even) .about__photo {
    margin-left: 0;
}
    .about__header {
        justify-content: center;
    }
}


/* Testimonials */

.section__testimonials {
    padding-top: 120px;
}
@media (max-width: 1110px) {
    .section__testimonials {
    padding-top: 60px;
    }
}

.section__title {
    font-family: 'Bebas Neue', cursive;
    font-size: calc(35px + 33 * ((100vw - 320px) / (1700 - 320)));
    text-transform: uppercase;
    color: #000;
    text-align: center;
    margin-bottom: 20px;
}

.section__title span {
    color: #cd0a2d;
}

.section__text {
    font-size: 18px;
    color: #5d5c5c;
    text-align: center;
    max-width: 840px;
    margin: 0 auto;
    margin-bottom: 10px;
}

.testimonials__inner {
    display: flex;
    align-items: flex-end;
}

.testimonials__col {
    flex: 0 1 50%;
}

.testimonials__col--w {
    background: #fff;
    padding: 40px 75px;
    text-align: center;
}

.testimonials__header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}
@media (max-width: 767.98px){
    .testimonials__header {
        margin-bottom: 20px;
    }
    .testimonials__col--w {
        padding: 20px 15px;
    }
}

.testimonials__photo {
    margin-right: 10px;
}

.testimonials__name {
    font-family: 'Bebas Neue', cursive;
    font-size: 23px;
    font-weight: 700;
    text-transform: uppercase;
    color: #000;
}

.testimonials__prof {
    font-family: 'Bebas Neue', cursive;
    font-size: 20px;
    text-transform: uppercase;
}

.testimonials__text {
    font-size: 18px;
    font-weight: 700;
    font-style: italic;
    line-height: 150%;    
}

.testimonials__col--img {
    position: relative;
    padding-bottom: 44.5%;
}
@media (max-width: 992.98px){
    .testimonials__col--img {
        display: none;
    }
    .testimonials__col {
        flex: 0 1 100%;
    }
}

.testimonials__col--img img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
}




/* Features */

.section__features {
    background: #1a1919 url(../images/features/bg.png) center no-repeat;
    background-size: cover;
    padding-top: 90px;
    color: #fff;
}

.section__features .section__title {
    color: #fff;
}

.section__features .section__text {
    color: #fff;
}

.features__inner {
    position: relative;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.features__col {
    flex: 0 1 50%;
    padding: 150px 0;
}

.features__col--left {
    padding-right: 120px;
}

.features__col--right {
    padding-left: 120px;
}

.features__moto {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}
@media (max-width: 1130px) {
    .features__moto {
        display: none;
    }
    .features__col--left {
        padding-right: 0;
    }
    .features__col--right {
        padding-left: 0;
    }
    .features__col {
        padding: 120px 15px;
    }
}

.features__moto img {
    display: block;
    max-height: 100%;
}

.features__row {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 70px;
}

.features__item {
    font-family: 'Bebas Neue', cursive;
    padding: 30px 50px;
    text-align: center;
    line-height: 180%;
}

.features__num { 
    font-size: 55px;
}

.features__num span {
    font-size: 30px;
    text-transform: uppercase;
}

.features__word {
    font-size: 29px;
    text-transform: uppercase;
}

.features__item--big {
    transform: scale(1.5);
    line-height: 200%;
}

.features__text {
    text-align: center;
}

@media (max-width: 992.98px){
    .features__col {
    flex: 0 1 100%;
    padding: 35px 0;
    }
}

@media (max-width: 479.98px){
    .features__row {
        display: block;
        margin-bottom: 10px;
    }
}


/* Travel */

.travel {
    padding-top: 145px;
    padding-bottom: 50px;
}
@media (max-width: 1130px) {
    .travel {
    padding-top: 70px;
    padding-bottom: 50px;
    }
}

.travel .package__price-text {
    font-size: 36px;
}

.travel .package__price-text span {
    font-size: 22px;
}

.travel .section__text {
    margin-bottom: 30px;
}


/* Contact */

.contact__top {
    padding-top: 100px;
    padding-bottom: 180px;
    background: url(../images/contact/bg.png) center no-repeat;
    background-size: cover;
    position: relative;
}

.contact__img {
    position: absolute;
    bottom: -60px;
    left: 50%;
    transform: translateX(-50%);
}

.contact__top .section__title {
    color: #fff;
}

.contact__top .section__text {
    color: #fff;
}

.contact__bottom {
    padding-top: 100px;
    padding-bottom: 80px;
}

.contact__row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 30px;
}

.contact__item {
    padding: 20px 80px;
    display: flex;
    color: #000;
}

.contact__icon {
    margin-right: 20px;
}

.contact__title {
    font-size: 26px;
    font-weight: 700;
    margin-bottom: 10px;
}

.contact__social {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.contact__link {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 67px;
    height: 67px;
    border: 3px solid #f0d839;
    border-radius: 50%;
    margin: 15px;
}



/* Footer */

.footer {
    background: #cd0a2d;
    padding: 60px 0;
    color: #fff;
    text-align: center;
}

.footer p {
    margin-bottom: 15px;
}

.footer p:last-child {
    margin-bottom: 0;
}







